@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

:root {
  /* --font-primary: "TestMetric", sans-serif; */
  --h1: 82px;
  --h2: 62px;
  --h3: 54px;
  --h4: 36px;
  --h5: 28px;
  --h6: 24px;
  --text-xl: 20px;
  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-table: 12px;
  --lh-heading: 1;
  --lh-body: 1.4;
}
html,
body {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  line-height: var(--lh-body);
  /* overflow-x: hidden; */
}
h1 {
  font-size: var(--h1);
  line-height: var(--lh-heading);
  margin-bottom: 8px;
  font-family: "Proxima Nova";
  font-weight: 600;
}
h2 {
  font-size: var(--h2);
  line-height: var(--lh-heading);
  margin-bottom: 8px;
  font-family: "Proxima Nova";
}
h3 {
  font-size: var(--h3);
  line-height: var(--lh-heading);
  margin-bottom: 8px;
  font-family: "Proxima Nova";
}
h4 {
  font-size: var(--h4);
  line-height: 1.2;
  margin-bottom: 8px;
  font-family: "Proxima Nova";
}
h5 {
  font-size: var(--h5);
  margin-bottom: 8px;
  font-family: "Proxima Nova";
}
h6 {
  font-size: var(--h6);
  margin-bottom: 8px;
  font-family: "Proxima Nova";
}
p,
li {
  font-size: var(--text-sm);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
a,
button {
  font-size: var(--text-xl);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
strong,
b {
  font-weight: 600;
}
.toc-h2 {
  font-size: var(--text-xl);
  line-height: var(--lh-body);
  font-family: "Proxima Nova";
}
.wysiwyg-text {
  font-family: "Poppins", sans-serif;
  font-size: var(--text-xl);
  line-height: var(--lh-body);
}
.wysiwyg-text p,
.wysiwyg-text li {
  font-family: "Poppins", sans-serif;
  font-size: var(--text-xl);
  line-height: inherit;
}

@media screen and (max-width: 1600px) {
  :root {
    /* --font-primary: "TestMetric", sans-serif; */
    --h1: 72px;
    --h2: 56px;
    --h3: 42px;
    --h4: 30px;
    --h5: 24px;
    --h6: 22px;
    --text-xl: 18px;
    --text-lg: 18px;
    --text-md: 16px;
    --text-sm: 14px;
    --text-table: 12px;
    --lh-heading: 1;
    --lh-body: 1.4;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    /* --font-primary: "TestMetric", sans-serif; */
    --h1: 66px;
    --h2: 46px;
    --h3: 40px;
    --h4: 28px;
    --h5: 21px;
    --h6: 18px;
    --text-xl: 14px;
    --text-lg: 14px;
    --text-md: 14px;
    --text-sm: 14px;
    --text-table: 12px;
    --lh-heading: 1;
    --lh-body: 1.4;
  }
}

@media screen and (max-width: 1370px) {
  :root {
    /* --font-primary: "TestMetric", sans-serif; */
    --h1: 56px;
    --h2: 38px;
    --h3: 36px;
    --h4: 24px;
    --h5: 20px;
    --h6: 18px;
    --text-xl: 13px;
    --text-lg: 13px;
    --text-md: 13px;
    --text-sm: 13px;
    --text-table: 12px;
    --lh-heading: 1;
    --lh-body: 1.4;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    /* --font-primary: "TestMetric", sans-serif; */
    --h1: 52px;
    --h2: 32px;
    --h3: 26px;
    --h4: 22px;
    --h5: 20px;
    --h6: 18px;
    --text-xl: 13px;
    --text-lg: 13px;
    --text-md: 13px;
    --text-sm: 13px;
    --text-table: 12px;
    --lh-heading: 1;
    --lh-body: 1.4;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    /* --font-primary: "TestMetric", sans-serif; */
    --h1: 44px;
    --h2: 40px;
    --h3: 36px;
    --h4: 24px;
    --h5: 20px;
    --h6: 18px;
    --text-xl: 15px;
    --text-lg: 15px;
    --text-md: 15px;
    --text-sm: 15px;
    --text-table: 14px;
    --lh-heading: 1;
    --lh-body: 1.4;
  }
}

@media screen and (max-width: 520px) {
  :root {
    /* --font-primary: "TestMetric", sans-serif; */
    --h1: 38px;
    --h2: 32px;
    --h3: 28px;
    --h4: 22px;
    --h5: 18px;
    --h6: 16px;
    --text-xl: 14px;
    --text-lg: 14px;
    --text-md: 14px;
    --text-sm: 14px;
    --text-table: 14px;
    --lh-heading: 1;
    --lh-body: 1.4;
  }
}