@media screen and (max-width: 1024px) {
  .col-sm-6.mainmenu img {
    width: 17%;
  }
  .container-fluid.home .swiper .col-sm-6.tab-slide {
    width: 100%;
  }
  .tab-width {
    width: 30%;
  }
  .container.verticalSlides.visionHouse a img {
    width: 100%;
  }
  .col-sm-6.mainmenu button.menu-btn img {
    width: 30px;
  }
  .container.verticalSlides.visionHouse .col-sm-3 {
    width: 15%;
  }
  .container.verticalSlides.visionHouse .col-sm-6 {
    width: 70%;
  }
  .future {
    top: 20%;
    right: -20%;
  }
  .data {
    bottom: 0%;
    right: -22%;
  }
  .menu-wrapper {
    padding: 10% 0% 0;
  }
  .menu-col a {
    padding: 9px 0;
  }
  html body .top-offcanvas {
    height: 33vh !important;
  }
  .row.background-text .col-sm-8 {
    width: 100%;
  }
  .thirdslide .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .thirdslide .col-sm-4 img {
    width: 100%;
    height: 340px;
  }
  .thirdslide .col-sm-5 {
    flex: none;
    width: 75%;
  }
  .priority {
    top: -13%;
    left: -215%;
  }
  .action {
    top: 30%;
    left: -50%;
  }
  .dashboard {
    bottom: -2%;
    left: -50%;
  }
  .future {
    top: 22%;
    right: -50%;
  }
  .data {
    bottom: 0%;
    right: -50%;
  }
  .row.align-items-end.tab-three-adjust .col-sm-4 {
    padding-top: 15%;
  }
  .thirdslide .col-sm-5 {
    flex: none;
    width: 75%;
    background-size: cover !important;
  }
  .thirdslide .wysiwyg-text {
    padding: 1% 3%;
  }
  .slide-four img {
    height: 550px;
    object-fit: fill;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .right-pad {
    padding-right: 2%;
  }
  img.gallery-img.img-6 {
    top: 30% !important;
  }
  img.gallery-img.img-1,
  img.gallery-img.img-2 {
    top: 24% !important;
  }
  img.gallery-img.img-3 {
    top: 24% !important;
  }
  .slide-eight .swiper-wrapper {
    padding-bottom: 10%;
  }
  .video-iframe-wrap {
    padding-top: 120%;
  }
  .container.steering-section.slide-nine .row.align-items-center {
    height: auto !important;
  }

  .container-fluid.verticalSlides.slide-four .col-sm-6 {
    width: 100%;
  }
  .the-background .container-fluid.verticalSlides.slide-four .row.align-items-center,
  .container-fluid.verticalSlides.slide-four .container {
    height: auto !important;
  }
  .container-fluid.verticalSlides.slide-four {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-top: 5%;
    display: flex;
  }

  .container-fluid.verticalSlides.slide-five .col-sm-6 {
    width: 100%;
  }
  .the-background .container-fluid.verticalSlides.slide-five .row.align-items-center,
  .container-fluid.verticalSlides.slide-five .container {
    height: auto !important;
  }
  .gallery-wrapper {
    height: 500px;
  }
  img.gallery-img.img-10,
  img.gallery-img.img-11,
  img.gallery-img.img-12 {
    width: 15% !important;
    top: 100% !important;
  }
  img.gallery-img.img-13,
  img.gallery-img.img-8,
  img.gallery-img.img-9 {
    top: 77% !important;
  }
  img.gallery-img.img-5 {
    top: 87% !important;
  }
  img.gallery-img.img-4 {
    width: 16% !important;
    top: 55% !important;
  }
  img.gallery-img.img-1,
  img.gallery-img.img-2,
  img.gallery-img.img-3 {
    top: 13% !important;
  }
  img.gallery-img.img-7 {
    width: 20% !important;
    top: 40% !important;
  }
  .full-offcanvas.communitycanvas.offcanvas.offcanvas-end.show .col-sm-6 {
    width: 100%;
  }
  .full-offcanvas.communitycanvas.offcanvas.offcanvas-end.show .container {
    height: 100vh;
    display: flex;
    align-items: center !important;
  }
  .full-offcanvas.communitycanvas.offcanvas.offcanvas-end.show .offcanvas-body .row {
    align-items: center;
    height: auto;
  }
  .row.Executive .col-sm-3 {
    background: #f5f5f5;
    padding: 2%;
    padding-right: 1%;
  }
  ol,
  ul {
    padding-left: 1.5rem;
  }
  .container-fluid.common-banner {
    height: 400px;
  }
  .stats .col-sm-2 {
    width: 33%;
  }
  .vision-container .col-sm-8 {
    text-align: center;
    width: 100%;
  }
  .pillars-container .col-sm-4.mb-5 {
    width: 48%;
  }
  .priorities .ethos-table {
    width: 350%;
  }
  .phonecard img {
    width: 60px;
    height: 60px;
  }
  .Ack {
    padding: 5% 0;
  }
  .container-fluid.footer img {
    width: 10%;
  }
  .col-sm-6.mainmenu button {
    margin-left: 5%;
  }
  .container-fluid.Git.form .col-sm-4,
  .container-fluid.Git.form .col-sm-8 {
    width: 100%;
  }
  .container-fluid.Git.form .col-sm-8 {
    padding: 10% 0%;
    padding-bottom: 0;
  }
  div#donate .col-sm-5,
  div#donate .col-sm-7 {
    width: 100%;
  }
  div#donate .col-sm-5 img {
    height: 500px;
    object-fit: fill;
  }
}

@media screen and (max-width: 520px) {

}